body{
    background-color:black ;
    font-family: "helvetica";
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    display: inline-block;
    border: 5px dotted yellow;
    color: white;
}

.imagem{
    display: block;
    margin: auto;
    width: 45%;

}

.texto{
    text-align: right;
    line-height: 1.5;
}
