body{
    background: linear-gradient(black rgb(46, 46, 46));
    font-family: "helvetica";
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    display: inline-block;
    border: 5px dotted yellow;
    color: white;
    padding: 30px;
}

.imagem{
    display: block;
    margin: auto;
    width: 45%;

}

iframe{
    display: block;
    margin: auto;
    width: 30%
}

h1{
    background-color: rgb(46, 46, 46);
    text-align: center;
}
