body{
    background-color:black ;
    font-family: "helvetica";
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    display: inline-block;
    border: 5px dotted yellow;
    color: white;
}

.imagem{
    display: block;
    margin: auto;
    width: 45%;
}

.div
{
  width: 100%; 
  height: 100px;/* Aqui você pode alterar */
  display: flex;
}
.txt{
  /* A classe do texto */
  float: right;
}


